# Created by .ignore support plugin (hsz.mobi)
/.idea/
/mwee_bpm_oa.iml
/serivce_common/serivce_common.iml
/serivce_common/target/
/commons/target/
/commons/commons.iml
/logs/
/service_utils/service_utils.iml
/service_utils/target/
/service_api/service_api.iml
/service_dao/service_dao.iml
/service_bpm/service_bpm.iml
/service_resources/service_resources.iml
/service_common/service_common.iml
.DS_Store
service_api/src/main/resources/
service_api/src/test/
service_bpm/.DS_Store
service_bpm/src/.DS_Store
service_bpm/src/main/.DS_Store
service_bpm/src/test/
service_common/.DS_Store
service_common/src/.DS_Store
service_common/src/test/.DS_Store
service_common/src/test/java/
service_dao/.DS_Store
service_dao/src/test/java/
service_resources/src/main/resources/bpm/.DS_Store
service_resources/src/main/resources/bpm/scripts/.DS_Store
service_utils/src/.DS_Store
service_utils/src/main/resources/
service_utils/src/test/.DS_Store
service_utils/src/test/java/
~/
/service_dao/target/
/service_common/target/
/service_bpm/target/
/service_api/target/
/service_bpm/src/main/resources/
/service_common/src/main/resources/
/service_common/src/main/scripts/
/service_resources/target/
/service_dao/src/main/resources/
/service_bpm/src/main/scripts/
