<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
                           ">

    <bean id="serviceAspect" class="com.mvee.bpm.oa.comon.aspect.ServiceAspect"/>

    <aop:config proxy-target-class="true">
        <aop:aspect id="serviceAspect" ref="serviceAspect">
            <aop:pointcut id="servicePointCut" expression="execution(* com.mwee.bpm.oa.service.*.impl.*.*(..))"/>
            <aop:around method="consumingTimes" pointcut-ref="servicePointCut"/>
        </aop:aspect>


    </aop:config>
</beans>